
 #sale-end{
    position: absolute;
    top: 30%;
    left: 30%;
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.fa-cc-visa,
.fa-cc-amex{
    color: deepskyblue;
}
.fa-cc-mastercard{
    background-color: darkslateblue;
}

.fa-cc-paypal{
    color: rgb(76, 163, 251);
}

.images2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: -1;
}

.box1, .box2, .box3, .box4, .boxii{
    height: 250px;
    width: 250px;
    object-fit: contain;
    background-color: white;
}

.boxii{
    display: none;
}



/* RESPONSIVENESS */


@media (max-width: 1000px){
   
.box1, .box2, .box3, .box4, .boxii{
    height: 260px;
    width: 300px;
    object-fit: contain;
    background-color: white;
    align-items: center;
   
} }






